<div class="col"></div>
<div class="card bg-primary text-white">
    <h1 class = "card-header">Xin chào</h1>
    <div class="card-body">
        <p class="card-text">
            Bạn đang tìm hiểu về view trong asp.net mvc
        </p>
    </div> 
</div>
<hr>
@this.Path